*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.link{
    text-decoration: none;
}


nav{
    /* position: fixed; */
    width: 100%;
}
nav .navbar{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    background-color: crimson;
}
nav .navbar .logo{
    margin: 0 50px ;
}

nav .navbar .menu{
    display: flex;
}
nav .navbar .menu li{
    margin: 0 8px;
    font-size: larger;
}
li :hover{
    background-color: black;
}
